/* #################################    ADMIN ############################  */


.imagemEditarModulo{
    margin-left:15px;
    margin-bottom:5px;
    background-size: cover !important; 
    background-position: center !important;
    border:2px solid #303030;
    box-shadow: inset 0px 2px 5px #000;
    border-radius:4px;
}












*{
    font-family: 'Open sans', sans-serif;
}
a{
    color:#000;
    text-decoration:none;
}
a:hover{
    color:#000;
    text-decoration:none;
}
.h1{
    font-weight: 800;
    color:#000;
    font-size:2.2em;
}
.font-weight200{
    font-weight: 200;
}
.font-weight300{
    font-weight: 300;
}
.font-weight400{
    font-weight: 400;
}
.font-weight500{
    font-weight: 500;
}
.font-weight600{
    font-weight: 600;
}
.font-weight700{
    font-weight: 700;
}
.font-weight800{
    font-weight: 800;
}
.font-size-2em{
    font-size:2.0em;
}
.font-size-19em{
    font-size:1.9em;
}
.font-size-18em{
    font-size:1.8em;
}
.font-size-17em{
    font-size:1.7em;
}
.font-size-15em{
    font-size:1.5em;
}
.font-size-13em{
    font-size:1.3em;
}
.font-size-11em{
    font-size:1.1em;
}
.font-size-10em{
    font-size:1.0em;
}
.font-size-9em{
    font-size:0.9em;
}
.font-size-8em{
    font-size:0.8em;
}
.font-size-7em{
    font-size:0.7em;
}
.font-size-6em{
    font-size:0.6em;
}
.padding-top20{
    padding-top:40px;
    padding-bottom:20px;
}
.padding-cima-baixo-40px{
    padding-top:40px;
    padding-bottom:40px;
}
.padding-cima-baixo-20px{
    padding-top:20px;
    padding-bottom:20px;
}
.padding-cima-baixo-10px{
    padding-top:10px;
    padding-bottom:10px;
}
.padding-cima-baixo-5px{
    padding-top:5px;
    padding-bottom:5px;
}
.padding-cima-baixo-4px{
    padding-top:4px;
    padding-bottom:4px;
}
.padding-cima-baixo-3px{
    padding-top:3px;
    padding-bottom:3px;
}
.padding-cima-baixo-2px{
    padding-top:2px;
    padding-bottom:2px;
}
.padding-cima-baixo-1px{
    padding-top:1px;
    padding-bottom:1px;
}
.padding-left-10{
    padding-left:10px;
}
.padding-left-15{
    padding-left:15px;
}
.padding-left-20{
    padding-left:20px;
}
.padding-left-25{
    padding-left:25px;
}
.padding-left-30{
    padding-left:30px;
}
.padding-left-35{
    padding-left:35px;
}
.padding-left-40{
    padding-left:40px;
}
.padding-left-45{
    padding-left:45px;
}
.padding-left-0{
    padding-left:0px !important;
}
.align-left{
    text-align:left;
}
.align-right{
    text-align:right;
}
.align-center{
    text-align:center;
}
.bolder{
    font-weight:900;
}
.light{
    font-weight:500;
    font-size: 1.9em
}
.semibolder{
    font-weight:600;
}
.height-215{
    height:215px;
    padding:0px !important;
}
.margin-bottom5{
    margin-bottom: 5px;
}
.margin-bottom10{
    margin-bottom: 10px;
}
.margin-bottom15{
    margin-bottom: 15px;
}
.margin-bottom20{
    margin-bottom: 20px;
}
.margin-bottom25{
    margin-bottom: 25px;
}
.margin-bottom30{
    margin-bottom: 30px;
}
.margin-bottom35{
    margin-bottom: 35px;
}
.margin-bottom40{
    margin-bottom: 40px;
}
.margin-top-55{
    margin-top:-55px;
}
.margin-top-50{
    margin-top:-50px;
}
.margin-top-20{
    margin-top:-20px;
}
.margin-top-15{
    margin-top:-15px;
}
.margin-top-10{
    margin-top:-10px;
}
.margin-top-5{
    margin-top:-5px;
}
.margin-top5{
    margin-top:5px;
}
.margin-top10{
    margin-top:10px;
}
.margin-top15{
    margin-top:15px;
}
.margin-top20{
    margin-top:20px;
}
.margin-top30{
    margin-top:30px;
}
.margin-top40{
    margin-top:40px;
}
.margin-top50{
    margin-top:50px;
}
.margin-top60{
    margin-top:60px;
}
.margin-top70{
    margin-top:70px;
}


.margin-left-55{
    margin-left:-55px;
}
.margin-left-50{
    margin-left:-50px;
}
.margin-left-20{
    margin-left:-20px;
}
.margin-left-15{
    margin-left:-15px;
}
.margin-left-10{
    margin-left:-10px;
}
.margin-left-5{
    margin-left:-5px;
}
.margin-left5{
    margin-left:5px;
}
.margin-left10{
    margin-left:10px;
}
.margin-left11{
    margin-left:11px;
}
.margin-left12{
    margin-left:12px;
}
.margin-left13{
    margin-left:13px;
}
.margin-left14{
    margin-left:14px;
}
.margin-left15{
    margin-left:15px;
}
.margin-left20{
    margin-left:20px;
}
.margin-left30{
    margin-left:30px;
}
.margin-left40{
    margin-left:40px;
}
.margin-left50{
    margin-left:50px;
}
.margin-left60{
    margin-top:60px;
}
.margin-left70{
    margin-left:70px;
}
.background-222222{
    background:#222222;
    border-top:#292929;
    border-bottom:#292929;
}
.border-left-2px-black{
    border-left:2px solid #000;
}
.li{
    display:inline;
    list-style:none;
    padding:18px 10px 18px 10px;
}
.li-branca-small a{
    color:#FFF !important;
    font-size:14px !important;
    font-weight: bolder !important;
}
.bx-viewport{
    border:none !important;
    /* box-shadow: none !important; */
}
.header-background{
    background:#303030 !important;
}
.header-nog{
    padding:10px 0px 0px 0px !important;
    color:#FFF;
    font-family: 'Open sans', sans-serif;
    font-weight:600;
    border-bottom:2px solid #212121;
    box-shadow: 0px 0px 10px #303030;
}
.form-login-nog label{
    float:left;
}
.form-login-nog input[type="submit"]{
    background:#3d79f7;
    color:#FFF;
    font-family: 'Open sans', sans-serif;
    font-size: 1.0em;
    font-weight: 600;
    height:30px;
    border:none;
    padding:0px 13px 0 13px;

}
.form-login-nog input[type="password"], .form-login-nog input[type="text"]{
    border:none;
    font-size:0.9em;
    color:#000;
    background:#FFF !important;
    height:30px;
    width:100%;
}
.form-login-nog input[type="password"]:focus, .form-login-nog input[type="text"]:focus{
    outline:none;
}
.cor{
    color:#FF4D0E;
}
.background{
    background-color:#FF4D0E;
}
.bx-controls{
    display:none !important;
}
.bx-wrapper{
    margin-bottom:0px !important;
}
.active{
    background-color:#FF4D0E !important;
    color:#FFF !important;
}
.alertbox{
    opacity: 0;
}
.trListar{
    transition: all 0.6s linear !important;
}
.admin-input input[type="text"], textarea{
    width:50%;
    border-radius:5px;
    height:33px;
    border:none;
    box-shadow: inset 1px 2px 10px #CCC;
    padding-left:10px;
}
.admin-input input[type="text"]:focus, textarea:focus{
    outline: none;
    border:1px solid #069;
    box-shadow: 0px 0px 10px #ccc;
}
.admin-input textarea{
    
    height:80px;
}
/* ############ config site ARG ################### */



/* Gabriel ###################- --------------- */



.top-menu_admin{
    color:#FFF;
    padding:10px 0px 10px 0px;
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 16px 9px;
    background-color: #282828;
    background-size: 9px 8px;
}
.top_page-admin{
    background:#f5f5f5;border:1px solid #ddd;font-weight:500;color:#303030;padding: 10px;margin-bottom:35px;
}
.navbar-collapse ul li{
    background:rgba(0,0,0,0.8);
    border-bottom:1px solid #ddd;
}
.navbar-collapse li ul li{
    transition: all 0.7s linear;
    background:#ddd;
    
}
.navbar-collapse li ul li a{
    transition: all 0.7s linear;
    color:#303030;
}
.navbar-collapse li ul li a:hover{
    transition: all 0.7s linear;
    background:rgba(0,0,0,0.7) !important;
    color:#FFF;
    
}






































/* ################## configurações Bootstrap ##################### */
.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}
